@import '../variables';

.AuthButton {
  position: relative;

  .btn {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #dfdfdf;
    &:hover {
      background-color: #dfdfdf;
    }

    &.account-btn {
      border-radius: 50%;
      height: 44px;
      width: 44px;
      border: 3px solid transparent;
      background: transparent;
      padding: 1px;

      &.btn-primary:not(:disabled):not(.disabled):active,
      &.btn-primary:not(:disabled):not(.disabled).active {
        border-color: rgba(95, 99, 104, 0.4);
        background-color: transparent;
      }

      &:hover {
        border-color: rgba(95, 99, 104, 0.3);
      }

      > span {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 50%;
        background: $green;
        color: white;
        font-size: 14px;
        font-weight: 800;
        line-height: 0;
        width: 100%;
        height: 100%;

        .spinner-border {
          width: 18px;
          height: 18px;
        }

        img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          border-radius: 50%;
        }
      }
    }

    svg {
      margin-right: 8px;
    }
  }

  .auth-menu {
    position: absolute;
    top: calc(100% + 20px);
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-color: rgba(black, 0.2);
    color: #000;
    box-shadow: 0 2px 10px rgba(black, 0.2);
    width: 300px;
    border-radius: 4px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 60ms;

    form {
      text-align: center;
      width: 100%;
      input {
        background: #fcfcfc;
        background: #fcfcfc;
        border-color: #ddd;
        box-shadow: none;
        &:focus {
          background: #f8f8f8;
        }
        &:first-of-type {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom: 0;
        }
        &:last-of-type {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
        &.forgotten-email {
          border-radius: 0.25rem;
          border: 1px solid #ddd;
        }
      }
      .btn {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .spinner-border {
          height: 20px;
          width: 20px;
          font-size: 10px;
        }
        &.btn-primary {
          background: $green;
          color: white;
          margin-top: 3px;
          &:hover {
            background: lighten($green, 2);
          }
        }

        > span {
          font-weight: 600;
        }
      }
      .badge {
        margin-top: 8px;
        background: $red;
        line-height: 1.5;
      }
      small {
        color: #888;
        display: block;
        margin: 10px 0;
        &.btn-forgot-password {
          cursor: pointer;
          &:hover {
            color: #666;
          }
        }
      }
    }

    &.active {
      opacity: 1;
      pointer-events: all;
    }

    img {
      width: 80px;
      border-radius: 50%;
    }

    h4,
    span {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      letter-spacing: 0.29px;
    }
    h4 {
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      margin: 10px 0 0;
    }
    span {
      font-size: 14px;
      font-weight: 400;
    }
    .btn {
      margin-top: 17px;
      background: white;
      font-weight: 600;
      padding: 6px 20px;
      &:hover {
        background-color: #fafafa;
      }
    }
  }
}
