@import '../variables';

.Users {
  padding: 16px 16px 0;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-content: flex-start;

  &.has-content {
    background: white;
  }

  > h3 {
    display: flex;
    font-size: 15px;
    font-weight: 700;
    padding: 16px;
    color: #555;
  }

  .owned-group {
    width: 100%;
    border: 1px solid #ccc;
    border-bottom: 0;

    &:first-of-type {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    .owned-group {
      border-right: 0;
      border-top-right-radius: 0;
    }

    h3 {
      display: flex;
      font-size: 15px;
      font-weight: 700;
      color: #555;
      background: #e6e6e6;
      align-items: center;
      padding: 10px 10px 10px 20px;
      margin: 0;
      border-bottom: 1px solid #ddd;

      .btn-link {
        color: #aaa;
        &:hover {
          color: #888;
        }
      }

      .btn-primary {
        margin-left: auto;
        background: $green;
        border: 0;
        &:hover {
          background: lighten($green, 5);
        }
      }
    }

    .user {
      padding-left: 20px;
      display: flex;
      align-items: center;
      border-top: 1px solid #ddd;
      line-height: 3;
      ~ .children {
        margin-top: 5px;
      }
      .btn-link {
        margin-right: 4px;
        color: #aaa;
        &:hover {
          color: #888;
        }
      }
      > span {
        margin-right: 12px;
      }
    }

    .children {
      margin: 0 0 0 30px;
      &:empty {
        display: none;
      }
    }
  }

  > .owned-group:last-of-type {
    border-bottom: 1px solid #ccc;
  }
}

.edit-user-modal {
  &.show .modal-dialog {
    margin-top: 75px;
  }
  .modal-body {
    > div {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      &:last-of-type {
        margin-bottom: 0;
      }
      .btn-danger {
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 72px;
        height: 31px;
        .spinner-border {
          width: 20px;
          height: 20px;
          font-size: 10px;
        }
      }
    }
    form {
      font-weight: normal;
      > input {
        margin: 20px 0 0;
      }
      .btn {
        margin-top: 20px;
        .spinner-border {
          width: 20px;
          height: 20px;
          font-size: 10px;
        }
      }
    }
    .form-check {
      margin: 20px 0 0 2px;
      padding-left: 20px;
      user-select: none;
      text-align: center;
      .form-check-input {
        cursor: pointer;
        width: 20px;
        height: 20px;
      }
      label {
        font-weight: 500;
        cursor: pointer;
        padding-left: 6px;
        line-height: 30px;
      }
    }
  }
}
